.one-card__info__props-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    filter: none;
    gap: 6px;
}

.one-card__wrapper {
    display: flex;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;    
    background-color: #f7faeb;
    padding: 10px;
    gap: 10px;
    min-width: min-content;
    max-width: 45vw;
    align-items: center;
    justify-content: center;
}

.card-key {
    font-weight: bold;
    align-self: center;
}
