.popularity-stars__wrapper {
    display: flex;
}

.popularity-star {
    width: 20px;
    height:  20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/icons/star-empty.svg);
}

.full-star {
    background-image: url(../assets/icons/star-full.svg);
}